::-moz-selection { background: rgb(240,240,240); }
::selection { background: rgb(240,240,240); }
body { margin:0px; padding:0px;}
html, body{
  overflow-x: hidden;
  max-width:100%;
}
#intro{
 margin-left:40%;
  margin-right:15%;
  text-align:center;
}
#welcome{
  margin-left:40%;
  margin-right:15%;
  text-align:center;
}
#button{
 margin-left:40%;
  margin-right:3%;
  text-align:center; 
}
/* main */
header {
    height: 360px;
    z-index: 10;
}
.hpl:hover{
  background-color: rgb(200,214,227);
}
.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(41,54,86);
  overflow-x: hidden;
  padding-top: 20px;
  text-align:center;
}
.sidenav a {
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}
.sidenav a:hover {
  color: rgb(109,118,139);
}
.main {
  /*margin-left: 35%;
  margin-right: 10%;
  padding: 0px 10px;
  text-align:center;*/
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#boxes {
  content: "";
  display: table;
  clear: both;
}
#preview {
 height: 8%;
  width: 20%;
  float: left;
  margin-top:42px;
    /*height: 8%;
  width: 45%;
  float: left;
  margin-top:52px;*/
}
#summary {
  background-color: #fff;
  height: 10%;
  margin-left:20%;
  width:50%;
  float: right;
  margin-top:30px;
  padding: 20;
    /*height: 8%;
  margin-left:10px;
  width:45%;
  float: right;
  margin-top:35px;*/
}
#boxes2 {
  content: "";
  clear: both;
  display: table;
}
#ex {
  /*height: 8%;
  width: 45%;
  float: left;
  margin-top:52px;*/
    height: 8%;
  width: 45%;
  float: left;
  margin-top:52px;
}
#calendar {
  /*height: 10%;
  margin-left:10px;
  width:50%;
  float: right;
  margin-top:35px;*/
    height: 10%;
  margin-left:10px;
  width:50%;
  float: right;
  margin-top:35px;
}
  button {
  margin: 17px;
}
.btn1 {
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: rgb(41,54,86);
  width: 170px;
  height: 42px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn1 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn1:before,
.btn1:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgb(45,83,132);
  transition: all 0.4s ease;
}
.btn1:before {
  height: 0%;
  width: 1.5px;
}
.btn1:after {
  height: 1.5px;
  width: 0%;
}
.btn1:hover{
   background: transparent;
}
.btn1:hover:before {
  height: 100%;
}
.btn1:hover:after {
  width: 100%;
}
.btn1 span:hover{
  color: rgb(45,83,132);
}
.btn1 span:before,
.btn1 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgb(41,54,86);
  transition: all 0.4s ease;
}
.btn1 span:before {
  height: 0%;
  width: 1.5px;
}
.btn1 span:after {
  height: 1.5px;
  width: 0%;
}
.btn1 span:hover:before {
  height: 100%;
}
.btn1 span:hover:after {
  width: 100%;
}

.header-banner {
    position:relative;
    top:0;
    right:0;
    margin-right:0;
    border:0;
    margin-left:25%;
    background-image: url('laramusa.github.io/Images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 75%;
}
header h1 {
    background-color: rgba(18,72,120, 0.8);
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem; 
    left: 2rem;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav {
    width: 100%;
    height: 60px;
    background: rgb(41,54,86);
    postion: fixed;
    z-index: 10;
}
nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}
nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li { 
    display: inline-block; 
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none; 
    color: #fff;
}
/* demo content */
body { 
    color: #292f36;
    font-family: helvetica;
    line-height: 1.6;
}
.content{ 
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}
@media only screen and (max-width: 960px) {
    .content{ 
        padding: 2rem 0;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {  
        margin-bottom: 3rem;
    }
    aside {  
        float: none;
        text-align: center;
        width: 100%;
    }
}
